@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Lato:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800,100");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:200,300,400,700,400italic,700italic");
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* line 17, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/stuart/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 20, ../_sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 25, ../_sass/main.scss */
body {
  font-family: 'Lato';
  background-color: #FFF;
  color: #222;
  font-size: 1.2em;
}

/* line 32, ../_sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: 'Lato';
  font-weight: 800;
}

/* line 38, ../_sass/main.scss */
h1 {
  font-size: 3.2em;
  line-height: 3.2em;
}

/* line 43, ../_sass/main.scss */
h2 {
  font-weight: 100;
  font-size: 2.8em;
  line-height: 1.2em;
}

/* line 49, ../_sass/main.scss */
h3 {
  font-size: 2.0em;
  line-height: 2.0em;
}

/* line 55, ../_sass/main.scss */
p {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.0em;
  line-height: 1.5em;
  margin: 1em 0;
}

/* line 63, ../_sass/main.scss */
b {
  font-weight: bold;
}

/* line 67, ../_sass/main.scss */
a {
  color: cornflowerblue;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
/* line 71, ../_sass/main.scss */
a:hover {
  color: #222;
}

/* line 76, ../_sass/main.scss */
blockquote {
  font-weight: 600;
  font-family: 'Droid Serif';
  line-height: 1.25em;
  margin: 20px;
  color: #444;
}

/* line 84, ../_sass/main.scss */
blockquote:before {
  content: '“';
}

/* line 88, ../_sass/main.scss */
blockquote:after {
  content: '”';
}

/* line 92, ../_sass/main.scss */
table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 104, ../_sass/main.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
/* line 107, ../_sass/main.scss */
ul.posts li {
  line-height: 1.75em;
}
/* line 109, ../_sass/main.scss */
ul.posts li a {
  text-decoration: none;
}
/* line 113, ../_sass/main.scss */
ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 126, ../_sass/main.scss */
.site {
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
  margin-right: 300px;
}
/* line 127, ../_sass/main.scss */
.site .page {
  width: 42em;
  margin: 0 auto;
}
/* line 136, ../_sass/main.scss */
.site .header a {
  font-weight: bold;
  text-decoration: none;
}
/* line 140, ../_sass/main.scss */
.site .header h1.title {
  display: inline-block;
}
/* line 149, ../_sass/main.scss */
.site .header a.extra {
  margin-left: 1em;
}
/* line 157, ../_sass/main.scss */
.site .meta {
  color: #aaa;
  font-size: .8em;
}
/* line 162, ../_sass/main.scss */
.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding-top: 2em;
  overflow: hidden;
}
/* line 169, ../_sass/main.scss */
.site .footer .contact {
  float: left;
  width: 300px;
  margin-right: 3em;
}
/* line 173, ../_sass/main.scss */
.site .footer .contact img {
  float: left;
  margin: 0 10px;
}
/* line 178, ../_sass/main.scss */
.site .footer .social {
  float: right;
}
/* line 181, ../_sass/main.scss */
.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}
/* line 185, ../_sass/main.scss */
.site .footer .rss img {
  border: 0;
}

/* line 192, ../_sass/main.scss */
.side {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #242628;
}
/* line 200, ../_sass/main.scss */
.side .top {
  text-align: center;
  padding-top: 70px;
  height: 200px;
}
/* line 204, ../_sass/main.scss */
.side .top img {
  width: 200px;
}
/* line 208, ../_sass/main.scss */
.side .btm {
  height: 100%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
/* line 222, ../_sass/main.scss */
.post pre {
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  background-color: whitesmoke;
  padding: 0 .4em;
  margin: 20px 0;
}
/* line 228, ../_sass/main.scss */
.post ul, .post ol {
  margin-left: 1.35em;
}
/* line 231, ../_sass/main.scss */
.post code {
  background-color: whitesmoke;
  padding: 0 .2em;
}
/* line 236, ../_sass/main.scss */
.post pre code {
  border: none;
}
/* line 239, ../_sass/main.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
/* line 243, ../_sass/main.scss */
.post pre.terminal code {
  background-color: #333;
}

/* terminal */
